#map-canvas {
	height: calc(100% - 50px);
	width: 100%;
	position: absolute;
	top: 50px;
}

.infoBox h3 {
	font-size: 18px;
}

.infoBox ul li {
	list-style-type: none;
}

.infoBox ul {
	padding-left: 15px;
}

.navbar-form input {
	width: 400px;
}

.navbar-form .form-info {
	display: inline-block;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 30px;
}

#github {
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	border: 0;
}

html, body {
	height: 100%;
	font-size: 12px;
}
